.div1{
    margin-left: 0.4cm;
}
.heading1{
    font-family: 'Georama', sans-serif;
    font-size: 22px;
    color: rgb(85, 85, 85);
    font-weight: bold;
    margin-left: 1.2cm;
    margin-top: 0.5cm;
}

.drivelogo{
    width: 0.9cm;
    top: 0;
    margin-top: 0.5cm;
    position: absolute;
}
.header1{
    margin-top: 0.5cm;
    background-color: rgb(219, 219, 219);
    border-style: none;
    height: 0.01cm;
}

.searchbar{
    width: 19cm;
    height: 1.3cm;
    font-size: 16px;
    top: 0;
    margin-top: 0.2cm;
    margin-left: 6cm;
    position: absolute;
    background-color: rgb(243, 243, 243);
    border-style: none;
    border-radius: 8px;
    padding-left: 47px;
    color: gray;

}
#searchicon{
    position: absolute;
    margin-top: -1.04cm;
    margin-left: 6.3cm;
    color: rgb(116, 114, 114);

}
#tuneicon{
    position: absolute;
    margin-left: 24cm;
    margin-top: -1cm;
    color: rgb(116, 114, 114);
    
}
#helpicon{
    position: absolute;
    right: 0;
    margin-right: 5cm ;
    margin-top: -1.02cm;
    color: rgb(116, 114, 114);
}
#languageicon{
    color: rgb(116, 114, 114);
    position: absolute;
    right: 0;
    margin-right: 4cm;
    margin-top: -1.02cm;
}
#appsicon{
    color: rgb(116, 114, 114);
    position: absolute;
    right: 0;
    margin-right: 2.4cm;
    margin-top: -1.02cm;
}
.pfp{
    position: absolute;
    right: 0;
    margin-right: 1cm;
    margin-top: -1.2cm;
    width: 0.9cm;
    border-radius: 50%;
}
.new{
    width: 3.2cm;
    height: 1.3cm;
    border-radius: 30px;
    border-style: none;
    background-color: white;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1.6px rgb(206, 206, 206);
    font-family: 'Roboto', sans-serif;
    padding-left: 27px;
}

#linkicon{
    position: absolute;
    left: 0;
    margin-left: 0.6cm;
    margin-top: 0.3cm;
    

}
#booksicon{
    color: rgb(97, 96, 96);
    position: absolute;
    left: 0;
    margin-top: 1.8cm;
    margin-left: 0.7cm;

}
#arrowicon{
    left: 0;
    position: absolute;
    margin-top: 1.8cm;
    margin-left: 0.1cm;
    color: rgb(97, 96, 96);
}
.mydrive{
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    left: 0;
    position: absolute;
    margin-left: 1.8cm;
    color: rgb(97, 96, 96);
    font-size: 13px;
    margin-top: 0.56cm;

}
#devices{
    left: 0;
    position: absolute;
    margin-top: 3cm;
    margin-left: 0.7cm;
    color: rgb(97, 96, 96);
}
#arrowicon1{
    left: 0;
    position: absolute;
    margin-top: 3cm;
    margin-left: 0.1cm;
    color: rgb(97, 96, 96);
}
.computers{
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    left: 0;
    position: absolute;
    margin-left: 1.8cm;
    color: rgb(97, 96, 96);
    font-size: 13px;
    margin-top: 1.8cm;
}
#people{
    color: rgb(97, 96, 96);
    margin-top: 4.1cm;
    position: absolute;
    left: 0;
    margin-left: 0.7cm;
}

.shared{
    margin-top: 2.9cm;
    left: 0;
    position: absolute;
    margin-left: 1.8cm;
    color: rgb(97, 96, 96);
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    font-size: 13px;
    

}
#schedule{
    color: rgb(97, 96, 96);
    margin-top: 5.2cm;
    position: absolute;
    left: 0;
    margin-left: 0.7cm;
}
.recent{
    margin-top: 4cm;
    left: 0;
    position: absolute;
    margin-left: 1.8cm;
    color: rgb(97, 96, 96);
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    font-size: 13px;

}
#star{
    color: rgb(97, 96, 96);
    margin-top: 6.3cm;
    position: absolute;
    left: 0;
    margin-left: 0.7cm;

}
.starred{
    margin-top: 5.1cm;
    left: 0;
    position: absolute;
    margin-left: 1.8cm;
    color: rgb(97, 96, 96);
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    font-size: 13px;

}
#delete{
    color: rgb(97, 96, 96);
    margin-top: 7.36cm;
    position: absolute;
    left: 0;
    margin-left: 0.7cm;

}
.trash{
    margin-top: 6.17cm;
    left: 0;
    position: absolute;
    margin-left: 1.8cm;
    color: rgb(97, 96, 96);
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    font-size: 13px;

}
.header2{
    width: 5.6cm;
    position: absolute;
    background-color: rgb(219, 219, 219);
    border-style: none;
    height: 0.01cm;
    margin-top: 7.2cm;
}
#cloud{
    color: rgb(97, 96, 96);
    margin-top: 8.9cm;
    position: absolute;
    left: 0;
    margin-left: 0.7cm;
}
.storage{
    margin-top: 7.7cm;
    left: 0;
    position: absolute;
    margin-left: 1.8cm;
    color: rgb(97, 96, 96);
    font-family: 'Georama', sans-serif;
    font-weight: bold;
    font-size: 13px;

}
.header3{
    width: 4.5cm;
    position: absolute;
    margin-top: 8.7cm;
    margin-left: 0.4cm;
    height: 0.1cm;
    border-style: none;
    background-color: rgb(230, 230, 230);
}
.used{
    margin-top: 9cm;
    left: 0;
    position: absolute;
    margin-left: 0.7cm;
    color: rgb(97, 96, 96);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.buybut{
    width: 3cm;
    height: 1cm;
    position: absolute;
    left: 0;
    margin-top: 11.5cm;
    margin-left: 0.5cm;
    background-color: white;
    color: rgb(54, 54, 250);
    border-style: none;
    box-shadow: 0px 0px 1px 0px black;
    font-family: 'Roboto';
    font-weight: bold;
}
#arrowicon3{
    left: 0;
    position: absolute;
    margin-top: -1.2cm;
    margin-left: 9.2cm;
    color: rgb(138, 138, 138);



}
.heading2{
    left: 0;
    position: absolute;
    margin-top: -1.3cm;
    margin-left: 7.1cm;
    font-family: 'Poppins';
}
.header4{
    width: 32.5cm;
    left: 0;
    margin-left: 6.6cm;
    margin-right: 2cm;
    position: absolute;
    margin-top: -0.2cm;
    background-color: rgb(219, 219, 219);
    border-style: none;
    height: 0.01cm;
}
#view{
    position: absolute;
    margin-right: 3.4cm;
    margin-top: -1.1cm;
    right: 0;
    color: rgb(138, 138, 138);
}
#info{
    position: absolute;
    margin-right: 2.3cm;
    margin-top: -1.1cm;
    right: 0;
    color: rgb(138, 138, 138);

}
.para1{
    left: 0;
    margin-left: 7.15cm;
    margin-top: 0.2cm;
    position: absolute;
    color: rgb(121, 121, 121);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.header5{
    width: 7cm;
    height: 4cm;
    border-style: none;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 3px;
    left: 0;
    position: absolute;
    margin-left: 7.15cm;
    margin-top: 1.3cm;
}
.header6{
    width: 7cm;
    position: absolute;
    left: 0;
    margin-top: 3.9cm;
    margin-left: 7.15cm;
    border-style: none;
    height: 0.1px; 
    background-color: rgb(194, 194, 194);
}
.header7{
    width: 7cm;
    height: 4cm;
    border-style: none;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 3px;
    left: 0;
    position: absolute;
    margin-left: 15cm;
    margin-top: 1.3cm;
}
.header8{
    width: 7cm;
    position: absolute;
    left: 0;
    margin-top: 3.9cm;
    margin-left: 15cm;
    border-style: none;
    height: 0.1px; 
    background-color: rgb(194, 194, 194);
}

.header9{
    width: 7cm;
    height: 4cm;
    border-style: none;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 3px;
    left: 0;
    position: absolute;
    margin-left: 22.9cm;
    margin-top: 1.3cm;
}
.header10{
    width: 7cm;
    position: absolute;
    left: 0;
    margin-top: 3.9cm;
    margin-left: 22.9cm;
    border-style: none;
    height: 0.1px; 
    background-color: rgb(194, 194, 194);
}
.header11{
    width: 7cm;
    height: 4cm;
    border-style: none;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 3px;
    left: 0;
    position: absolute;
    margin-left: 7.15cm;
    margin-top: 8cm;
}
.header12{
    width: 7cm;
    left: 0;
    position: absolute;
    margin-top: 10.7cm;
    margin-left: 7.16cm;
    height: 0.01cm;
    background-color: rgb(194, 194, 194);
    border-style: none;
}
.header13{
    width: 7cm;
    height: 4cm;
    border-style: none;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 3px;
    left: 0;
    position: absolute;
    margin-left: 15cm;
    margin-top: 8cm;
}
.header14{
    width: 7cm;
    left: 0;
    position: absolute;
    margin-top: 10.7cm;
    margin-left: 15cm;
    height: 0.01cm;
    background-color: rgb(194, 194, 194);
    border-style: none;
}
.header15{
    width: 7cm;
    height: 4cm;
    border-style: none;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 3px;
    left: 0;
    position: absolute;
    margin-left: 23cm;
    margin-top: 8cm;
}
.header16{
    width: 7cm;
    left: 0;
    position: absolute;
    margin-top: 10.7cm;
    margin-left: 23cm;
    height: 0.01cm;
    background-color: rgb(194, 194, 194);
    border-style: none;
}